/* ==================================================== */
/*
    DEFAULT VALUES:

    Font Family        : Roboto Condensed

    Greenish Blue      : #34c6d3       (Buttons, Icons, Links, Lines & Backgrounds)
    Steel Gray         : #41464b       (Headings)
    Blue Bayoux        : #64707b       (Paragraphs)
    White              : #ffffff       (Text With Black Backgrounds)
    Black              : #000000
*/
/* ====================================================== */

/* ========================== */
/* === GENERAL (Generic) === */
/* ========================== */
html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

/* ==================================================== */
/* ======================= HOME ======================= */
/* ==================================================== */
#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url('../img/bg-home.jpg');
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3 {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* ========================== */
/* === PARALLAX (Generic) === */
/* ========================== */
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ========================= */
/* === BUTTONS (Generic) === */
/* ========================= */
.btn-general {
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-white:hover, .btn-white:focus {
    background-color: #ffffff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover, .btn-white:focus {
    background-color: #34c6d3;
    color: #ffffff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none
}

/* ==================================================== */
/* ===================== ANIMATE ====================== */
/* ==================================================== */
#home-cover, #home-heading, #home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}


/* ========================= */
/* === CONTENT (Generic) === */
/* ========================= */
.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

/* ==================================================== */
/* ===================== SERVICES ===================== */
/* ==================================================== */
.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i,
.service-item-icon svg {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px !important;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon svg {
    color: #ffffff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}

/* ==================================================== */
/* ======================= ABOUT ====================== */
/* ==================================================== */
#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 200px solid #ffff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

/* #about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
} */

#about-desc p {
    margin-bottom: 30px;
}

/* Fix display about section */
@media (min-width: 768px) {
    #about .col-md-4 {
        flex: none !important;
        max-width: none !important;
    }
}

/* ==================================================== */
/* ======================= WORK ======================= */
/* ==================================================== */
.row.no-gutters [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/* ==================================================== */
/* ======================= TEAM ======================= */
/* ==================================================== */
.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px
}

/* Change Owl Carousel dot color */
.owl-theme .owl-nav [class*=owl-] {
    background: #96e2e8 !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #34c6d3 !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #96e2e8 !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #34c6d3 !important;
}

/* ========================= */
/* ====== SOCIAL ICONS ===== */
/* ========================= */
.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

/* ============================== */
/* === SOCIAL ICONS (Generic) === */
/* ============================== */
.social-icon i {
    font-size: 17px;
}

.icon-gray i, .icon-gray svg {
    color: #64707b
}

.icon-white i, .icon-white svg {
    color: #ffffff;
}

.icon-gray i:hover, .icon-gray svg:hover {
    color: #34c6d3
}

/* ==================================================== */
/* =================== TESTIMONIALS =================== */
/* ==================================================== */
#testimonials-cover {
    background-image: url('../img/bg-testimonials.jpg');
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.1);
}

.content-title-white h3 {
    color: #ffffff;
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #ffffff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: #ffffff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p {
    color: #ffffff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}

/* ==================================================== */
/* ====================== PRICING ===================== */
/* ==================================================== */
.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 50px 0;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #ffffff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super
}

ul.pricing-spec {
    list-style: none;
    padding: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
    color: #34c6d3;
    background-color: #ffffff;
}

.pricing-box-lg ul.pricing-spec li p {
    color: #ffffff;
}

/* ==================================================== */
/* ======================= STATS ====================== */
/* ==================================================== */
#stats-cover {
    background-image: url("../img/bg-stats.jpg");
}

#stats .content-box {
    background-color: rgba(0, 0, 0, 0.8);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i, .stats-item svg {
    color: #34c6d3;
}

.stats-item h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px; 
}

.stats-item p {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}

/* ==================================================== */
/* ====================== CLIENTS ===================== */
/* ==================================================== */
.client {
    padding: 40px 0;
}

/* ==================================================== */
/* ====================== CONTACT ===================== */
/* ==================================================== */
footer{
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3, 
#contact-right h3 {
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #ffffff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #ffffff;
}

#contact-left p, 
address p, 
#phone-fax-email p {
    font-weight: normal;
}

address strong {
    font-size: 16px;
}

address strong, 
#phone-fax-email strong {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #ffffff;
}

form .form-control:focus {
    background: transparent;
    color: #ffffff;
}

/* ==================================================== */
/* ====================== FOOTER ====================== */
/* ==================================================== */
#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;

}

#footer-bottom p {
    margin: 0;
    color: #ffffff;
}

#footer-menu {
    float: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}

#footer-copyrights p a {
	color: #ffffff;
	text-decoration: none;
}

#footer-copyrights p a:hover {
	color: #34c6d3;
}

/* ==================================================== */
/* ==================== NAVIGATION ==================== */
/* ==================================================== */
.navbar {
    padding: 20px 85px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.vesco-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 85px !important;
}

.vesco-nav-wrapper {
    padding: 20px 85px;
}

.navbar-nav {
    float: right;
    padding: 10px 0;
}

.navbar-nav > li > a {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: none;
    color: #34c6d3 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-toggler {
    margin: 10px 0;
    padding: .25rem .70rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff !important;
    border-radius: 0;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #34c6d3;
}

/* ==================================================== */
/* ====================== MAP ========================= */
/* ==================================================== */

#vector-map {
    background-color: #383f47;
    width: 100%; 
    height: 80%;
}

/* ==================================================== */
/* ==================================================== */